/RemoteCtrl/.vs
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/x64/Debug
/RemoteCtrl/RemoteCtrl/x64/Debug
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/link.read.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.exe
/RemoteCtrl/Debug/RemoteCtrl.pdb
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/link.write.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.ilk
/RemoteCtrl/RemoteCtrl/Debug/vc143.pdb
/RemoteCtrl/RemoteCtrl/Debug/vc143.idb
/RemoteCtrl/RemoteCtrl/Debug/ServerSocket.obj
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.obj
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.log
/RemoteCtrl/RemoteCtrl/test2022.jpg
/RemoteCtrl/RemoteCtrl/test2022.png
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.command.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.read.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.write.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/link.command.1.tlog
*.obj
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.res
