/RemoteCtrl/.vs
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/x64/Debug
/RemoteCtrl/RemoteCtrl/x64/Debug
/VideoPlay/.vs/VideoPlay
/VideoPlay/Debug
/VideoPlay/VideoPlay/Debug
/VideoPlay/VideoClient/VideoClient.~ml
/VideoPlay/VideoClient/Debug
/VideoPlay/VideoRTSPServer/Debug
